body {
  font-family: 'Cutive Mono', serif;
  background: -webkit-linear-gradient(rgba(255, 255, 0, .75), rgba(0, 255, 0, .25)), url("http://welweb.org/ThenandNow/images/Graf-Zeppelin.jpg") fixed no-repeat;
  background-size: auto cover;
  font-size: 24px;
  font-weight: bold;
}

.wrapper {
	width: 650px;
	margin: 0 auto;
}

h1 {
	font-family: helvetica, sans-serif;
	font-size: 72px;
	font-weight: 600;
	text-shadow: 6px 4px .5px rgb(42, 82, 190), 12px 8px .8px #7DE8E6;
	text-align: center;
}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 64px;
	font-weight: 600;
	text-shadow: 1px 1px 12px rgb(42, 82, 190);
	text-align: center;
}

body p {
	text-shadow: 1px 1px .5px black;
}

a {
    color: black;
    text-decoration: none;
}